@use "../variables" as *;
@use "../medias" as *;

[class*="txt"] {
	&[class*="\@l"] {
		text-align: left;
	}

	&[class*="\@r"] {
		text-align: right;
	}

	&[class*="\@c"] {
		text-align: center;
	}

	&[class*="\@tn"] {
		text-transform: none;
	}

	&[class*="\@aj"] {
		text-align: justify;
	}

	&[class*="\@e"] {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&[class*="\@tu"] {
		text-transform: uppercase;
	}

	&[class*="\@tl"] {
		text-transform: lowercase;
	}

	&[class*="\@du"] {
		text-decoration: underline;
	}

	&[class*="\@dt"] {
		text-decoration: line-through;
	}

	&[class*="\@tc"] {
		text-transform: capitalize;
	}

	&[class*="\@wn"] {
		white-space: nowrap;
	}

	&[class*="\@wb"] {
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
	}
}

@mixin textSizes($size) {
	@for $i from 1 through $columns {
		.c#{$i}#{$size} {
			-moz-column-count: $i;
			-webkit-column-count: $i;
			column-count: $i;
		}
	}
}

@include textSizes(""); // Verificar que $columns esté definido

/* text columns */
@include media(small) {
	@include textSizes(\@s);
}

@include media(middle) {
	@include textSizes(\@m);
}

@include media(large) {
	@include textSizes(\@l);
}

@include media(extraLarge) {
	@include textSizes(\@xl);
}
