@use "../medias" as *;
@use "../variables" as *;

/*
    FLEX
    Guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
*/

[class*="flx"] {
	display: flex;

	@mixin flex($size) {
		&[class*="\@#{$size}ccc"] {
			align-items: center;
			flex-direction: column; /* make main axis vertical */
			justify-content: center; /* center items vertically, in this case */
		}

		&[class*="\@#{$size}fdr"] {
			flex-direction: row;
		}

		&[class*="\@#{$size}fdrr"],
		&[class*="\@#{$size}fdrv"] {
			flex-direction: row-reverse;
		}

		&[class*="\@#{$size}fdc"] {
			flex-direction: column;
		}

		&[class*="\@#{$size}dcr"] {
			flex-direction: column-reverse;
		}

		&[class*="\@#{$size}fwn"] {
			flex-wrap: nowrap;
		}

		&[class*="\@#{$size}fww"] {
			flex-wrap: wrap;
		}

		&[class*="\@#{$size}fwwr"] {
			flex-wrap: wrap-reverse;
		}

		&[class*="\@#{$size}jcfs"] {
			justify-content: flex-start;
		}

		&[class*="\@#{$size}jcfe"] {
			justify-content: flex-end;
		}

		&[class*="\@#{$size}jcc"] {
			justify-content: center;
		}

		&[class*="\@#{$size}jcsb"] {
			justify-content: space-between;
		}

		&[class*="\@#{$size}jcsa"] {
			justify-content: space-around;
		}

		&[class*="\@#{$size}jcse"] {
			justify-content: space-evenly;
		}

		&[class*="\@#{$size}aifs"] {
			align-items: flex-start;
		}

		&[class*="\@#{$size}aife"] {
			align-items: flex-end;
		}

		&[class*="\@#{$size}aic"] {
			align-items: center;
		}

		&[class*="\@#{$size}aib"] {
			align-items: baseline;
		}

		&[class*="\@#{$size}ais"] {
			align-items: stretch;
		}

		&[class*="\@#{$size}acfs"] {
			align-content: flex-start;
		}

		&[class*="\@#{$size}acfe"] {
			align-content: flex-end;
		}

		&[class*="\@#{$size}cc"] {
			align-content: center;
		}

		&[class*="\@#{$size}acsb"] {
			align-content: space-between;
		}

		&[class*="\@#{$size}acsa"] {
			align-content: space-around;
		}

		&[class*="\@#{$size}acs"] {
			align-content: stretch;
		}

		> .\@#{$size}asa {
			align-self: auto;
		}

		> .\@#{$size}asfs {
			align-self: flex-start;
		}

		> .\@#{$size}asfe {
			align-self: flex-end;
		}

		> .\@#{$size}asc {
			align-self: center;
		}

		> .\@#{$size}asb {
			align-self: baseline;
		}

		> .\@#{$size}ass {
			align-self: stretch;
		}
	}

	@mixin flexOrder($size) {
		@for $i from 1 through $gridSections {
			> .#{$size}or#{$i} {
				order: $i;
			}
		}
	}

	@mixin flexGrow($size) {
		@for $i from 1 through $gridSections {
			> .#{$size}fg#{$i} {
				flex-grow: $i;
			}
		}
	}

	@mixin flexShrink($size) {
		@for $i from 1 through $gridSections {
			> .#{$size}fs#{$i} {
				flex-shrink: $i;
			}
		}
	}

	@mixin flexBasis($size) {
		@each $value, $percent in $percentages {
			> .#{$size}fb#{$value} {
				flex-basis: $percent;
			}
		}
	}

	/* --------- */

	@include flex("");
	@include flexOrder("");
	@include flexGrow("");
	@include flexShrink("");
	@include flexBasis("");

	@include media(small) {
		@include flex("s");
		@include flexOrder("s");
		@include flexGrow("s");
		@include flexShrink("s");
		@include flexBasis("s");
	}

	@include media(middle) {
		@include flex("m");
		@include flexOrder("m");
		@include flexGrow("m");
		@include flexShrink("m");
		@include flexBasis("m");
	}

	@include media(large) {
		@include flex("l");
		@include flexOrder("l");
		@include flexGrow("l");
		@include flexShrink("l");
		@include flexBasis("l");
	}

	@include media(extraLarge) {
		@include flex("xl");
		@include flexOrder("xl");
		@include flexGrow("xl");
		@include flexShrink("xl");
		@include flexBasis("xl");
	}
}
