/*
    FLEX
    Guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
*/

[class*="flx"] {
	display: flex;

	@mixin flex($size) {
		&[class*="\@ccc#{$size}"] {
			flex-direction: column; /* make main axis vertical */
			justify-content: center; /* center items vertically, in this case */
			align-items: center;
		}

		&[class*="\@fdr#{$size}"] {
			flex-direction: row;
		}

		&[class*="\@fdrr#{$size}"],
		&[class*="\@fdrv#{$size}"] {
			flex-direction: row-reverse;
		}

		&[class*="\@fdc#{$size}"] {
			flex-direction: column;
		}
		&[class*="\@dcr#{$size}"] {
			flex-direction: column-reverse;
		}
		&[class*="\@fwn#{$size}"] {
			flex-wrap: nowrap;
		}
		&[class*="\@fww#{$size}"] {
			flex-wrap: wrap;
		}
		&[class*="\@fwwr#{$size}"] {
			flex-wrap: wrap-reverse;
		}
		&[class*="\@jcfs#{$size}"] {
			justify-content: flex-start;
		}
		&[class*="\@jcfe#{$size}"] {
			justify-content: flex-end;
		}
		&[class*="\@jcc#{$size}"] {
			justify-content: center;
		}
		&[class*="\@jcsb#{$size}"] {
			justify-content: space-between;
		}
		&[class*="\@jcsa#{$size}"] {
			justify-content: space-around;
		}
		&[class*="\@jcse#{$size}"] {
			justify-content: space-evenly;
		}
		&[class*="\@aifs#{$size}"] {
			align-items: flex-start;
		}
		&[class*="\@aife#{$size}"] {
			align-items: flex-end;
		}
		&[class*="\@aic#{$size}"] {
			align-items: center;
		}
		&[class*="\@aib#{$size}"] {
			align-items: baseline;
		}
		&[class*="\@ais#{$size}"] {
			align-items: stretch;
		}
		&[class*="\@acfs#{$size}"] {
			align-content: flex-start;
		}
		&[class*="\@acfe#{$size}"] {
			align-content: flex-end;
		}
		&[class*="\@acc#{$size}"] {
			align-content: center;
		}
		&[class*="\@acsb#{$size}"] {
			align-content: space-between;
		}
		&[class*="\@acsa#{$size}"] {
			align-content: space-around;
		}
		&[class*="\@acs#{$size}"] {
			align-content: stretch;
		}

		> .\@asa#{$size} {
			align-self: auto;
		}

		> .\@asfs#{$size} {
			align-self: flex-start;
		}

		> .\@asfe#{$size} {
			align-self: flex-end;
		}

		> .\@asc#{$size} {
			align-self: center;
		}

		> .\@asb#{$size} {
			align-self: baseline;
		}

		> .\@ass#{$size} {
			align-self: stretch;
		}
	}

	@mixin flexOrder($size) {
		@for $i from 1 through $gridSections {
			> .or#{$i}#{$size} {
				order: $i;
			}
		}
	}

	@mixin flexGrow($size) {
		@for $i from 1 through $gridSections {
			> .fg#{$i}#{$size} {
				flex-grow: $i;
			}
		}
	}

	@mixin flexShrink($size) {
		@for $i from 1 through $gridSections {
			> .fs#{$i}#{$size} {
				flex-shrink: $i;
			}
		}
	}

	@mixin flexBasis($size) {
		@each $value, $percent in $percentages {
			> .fb#{$value}#{$size} {
				flex-basis: $percent;
			}
		}
	}

	/* --------- */

	@include flex("");
	@include flexOrder("");
	@include flexGrow("");
	@include flexShrink("");
	@include flexBasis("");

	@include media(small) {
		@include flex("-s");
		@include flexOrder("-s");
		@include flexGrow("-s");
		@include flexShrink("-s");
		@include flexBasis("-s");
	}

	@include media(middle) {
		@include flex("-m");
		@include flexOrder("-m");
		@include flexGrow("-m");
		@include flexShrink("-m");
		@include flexBasis("-m");
	}

	@include media(large) {
		@include flex("-l");
		@include flexOrder("-l");
		@include flexGrow("-l");
		@include flexShrink("-l");
		@include flexBasis("-l");
	}

	@include media(extraLarge) {
		@include flex("-xl");
		@include flexOrder("-xl");
		@include flexGrow("-xl");
		@include flexShrink("-xl");
		@include flexBasis("-xl");
	}
}
