/*
	IMAGES, SVG
*/

[class*="img"] {
	[class*="\@cn"] {
		object-fit: contain;
	}

	[class*="\@co"] {
		object-fit: cover;
	}

	[class*="\@fl"] {
		object-fit: fill;
	}

	[class*="\@sd"] {
		object-fit: scale-down;
	}

	[class*="\@in"] {
		object-fit: inherit;
	}

	[class*="\@n"] {
		object-fit: none;
	}
}

svg.e,
img.e {
	width: 100%;
	min-width: 100%;
}

@media (max-width: 768px) {
	svg.e\@s,
	img.e\@s {
		width: 100%;
		min-width: 100%;
	}
}

@media (min-width: 769px) {
	svg.e\@m,
	img.e\@m {
		width: 100%;
		min-width: 100%;
	}
}

@media (min-width: 1220px) {
	svg.e\@l,
	img.e\@l {
		width: 100%;
		min-width: 100%;
	}
}

@media (min-width: 1600px) {
	svg.e\@xl,
	img.e\@xl {
		width: 100%;
		min-width: 100%;
	}
}

audio,
/*canvas,*/
video,
img {
	max-width: 100%;
	height: auto;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	border: 0;
}

svg.p,
img.p {
	max-width: none;
}

svg:not(:root) {
	overflow: hidden;
}

svg {
	height: auto;
}
