@use "../medias" as *;

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
	background: #f8f8f8;
	color: #f0506e;
	font-family: Consolas, monaco, monospace;
	font-size: 0.875rem;
	padding: 2px 6px;
	white-space: nowrap;
}

audio,
/*canvas,*/
iframe,
img,
svg,
video {
	vertical-align: middle;
}

::-moz-selection {
	background: #39f;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #39f;
	color: #fff;
	text-shadow: none;
}

progress {
	vertical-align: baseline;
}

.r,
.rel {
	position: relative;
}

q {
	font-style: italic;
}

small {
	font-size: 80%;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

audio,
/*canvas,*/
iframe,
img,
svg,
video {
	vertical-align: middle;
}

p,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
	margin: 0 0 15px;
}

* + p,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure {
	margin-top: 15px;
}

iframe {
	border: 0;
}

av a,
nav a:visited,
nav a:active,
a,
a:visited,
a:active {
	outline: 0;
	text-decoration: none;
}

:focus {
	outline: 0;
}

hr {
	border: 0;
	border-top: 1px solid #e5e5e5;
	box-sizing: content-box;
	height: 0;
	margin: 0 0 20px;
	overflow: visible;
}

* + hr {
	margin-top: 20px;
}

address {
	font-style: normal;
}

blockquote {
	color: #333;
	font-size: 1.25rem;
	font-style: italic;
	line-height: 1.5;
	margin: 0 0 20px;
}

* + blockquote {
	margin-top: 20px;
}

blockquote p:last-of-type {
	margin-bottom: 0;
}

blockquote footer {
	color: #666;
	font-size: 0.875rem;
	line-height: 1.5;
	margin-top: 10px;
}

blockquote footer::before {
	content: "— ";
}

pre {
	-moz-tab-size: 4;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #666;
	font: 0.875rem/1.5 Consolas, monaco, monospace;
	overflow: auto;
	padding: 10px;
	tab-size: 4;
}

pre code {
	font-family: Consolas, monaco, monospace;
}

::-moz-selection {
	background: #39f;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #39f;
	color: #fff;
	text-shadow: none;
}

.no-select {
	-khtml-user-drag: none;
	-khtml-user-select: none;
	-moz-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-drag: none;

	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-drag: none;
	user-select: none;
}

progress {
	vertical-align: baseline;
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}

/* clearfix fix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.vw,
.fw {
	width: 100vw;
}

/* 
	Color Difference
*/

.color-invert,
.cldf {
	filter: invert(1);
	mix-blend-mode: difference;
}

/* 
	overflow 
*/

.ofa {
	overflow: auto;
}

.ofh {
	overflow: hidden;
}

.ofv {
	overflow: visible;
}

.ofs {
	overflow: scroll;
}

.ofsx {
	overflow-x: visible;
}

.ofsxh {
	overflow-x: hidden;
}

.ofsy {
	overflow-y: visible;
}

.ofsyh {
	overflow-y: hidden;
}

/*TODO add for medi quueries*/

/* 
	hide small and large 
*/

.h {
	display: none;
	visibility: 0;
}

.hs {
	display: initial;
}

.hl {
	display: none;
}

.s {
	display: inline-block;
}

@include media(small) {
	.hs {
		display: none;
	}

	.hl {
		display: initial;
	}

	.ss {
		display: inherit;
	}
}

@include media(middle) {
	.hm {
		display: none;
	}

	.sm {
		display: inherit;
	}
}

@include media(large) {
	.sl {
		display: inherit;
	}
}

@include media(extraLarge) {
	.hxl {
		display: none;
	}

	.sxl {
		display: inherit;
	}
}
