@use "../variables" as *;

/*
    HEIGHT CONTROL
*/

.ha {
	height: auto;
}

.vh,
.fh {
	height: 100vh;
}

.vhmin {
	min-height: 100vh;
}

.vhmax {
	max-height: 100vh;
}

@media (max-width: 768px) {
	.vhmin\@s {
		min-height: 100vh;
	}

	.vhmax\@s {
		max-height: 100vh;
	}
}

.vh2 {
	height: 200vh;
}

.vh3 {
	height: 300vh;
}

.vh4 {
	height: 40vh;
}

@media (max-width: 768px) {
	.vhn\@s {
		height: auto;
	}

	.vh1\@s {
		height: 100vh;
	}

	.vh2\@s {
		height: 200vh;
	}

	.vh3\@s {
		height: 300vh;
	}

	.vh4\@s {
		height: 40vh;
	}
}

/* .h10 = height:10% */
@each $value, $percent in $percentages {
	.h#{$value} {
		height: $percent;
	}
}

/*
TODO: add small height none
.h100\@sn {
		height: auto;
	}
*/
