.ofh {
	overflow: hidden;
}

.ofv {
	overflow: visible;
}

.ofs {
	overflow: scroll;
}

.ofsx {
	overflow-x: visible;
}

.ofsxh {
	overflow-x: hidden;
}

.ofsy {
	overflow-y: visible;
}

.ofsyh {
	overflow-y: hidden;
}
